<p>homepage works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>    
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="contain">
            <div class="row row-no-gutters">
                <div class="col-sm-3 left_bar">
                    <ul class="nav nav-pills nav-stacked navbar-right shift">
                        <li><img class="logo" src="../assets/twister_bird.jpg"></li>
                        <li class="jumpper"><i class="fas fa-home"></i><a href="#" class="text_color_change" style="display: inline;">Home</a></li>
                        <li class="jumpper"><i class="fas fa-tag"></i><a href="#" class="text_color_change" style="display: inline;">Tag Search</a></li>
                        <li class="jumpper"><i class="fas fa-bell"></i><a href="#" class="text_color_change" style="display: inline;">Notification</a></li>
                        <li class="jumpper"><i class="fas fa-envelope"></i><a href="#" class="text_color_change" style="display: inline;">Direct Message</a></li>
                        <li class="jumpper"><i class="fas fa-bookmark"></i><a href="#" class="text_color_change" style="display: inline;">Bookmarks</a></li>
                        <li class="jumpper"><i class="fas fa-user-circle"></i><a href="#"  class="text_color_change" style="display: inline;">Profile</a></li>
                        <li class="jumpper"><img class="resize_img_icon" src="../assets/see_more.png" alt=""><a href="#" class="text_color_change" style="display: inline;">See More...</a></li>
                        <li class="post"><dev  class="posting" style="display: inline;">Twist!!!</dev></li>
                    </ul>

                </div>
                <div class="col-md-6 col-sm-6 botton_bar">Home</div>
                <div class="col-lg-3 col-md-3 col-sm-3 left_bar">
                    <div class="search_box">
                        <input type="image" class="search_img" src="../assets/search.png" style="display: inline;"/>
                        <input class="keyword_serach" style="display: inline;" type="text" placeholder="Keyword Search" required>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- scripts for homepage -->
    <script src="https://kit.fontawesome.com/9db5fdd4b8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>