

.jumpper:hover {
    color: #4CAEF5;
    font-size: 20px;
}

.jumpper {
    font-size:20px;
    margin: 20px 0 20px 0;
}

.shift {
    margin: 0 70px 0 0 ;
}

.text_color_change {
    color: #14171A;
}

.text_color_change:hover {
    color: #4CAEF5;
}

.left_bar {
    border-right: 1px solid #e6ecf0;
    height: 2000px;
    
}

.botton_bar {
    border-bottom: 1px solid #e6ecf0;
    font-size: 30px;
    margin: 10px 0 10px 0;
}


.left_bar {
    border-left: 1px solid #e6ecf0;
    height: 1000px;
}

.logo {
    width: 40px;
    height: auto;
    margin: 20px 0 20px 0;
}

.resize_img_icon {
    width: 20px;
    height: auto;
    margin: -1 0 0 3%;
}

.resize_img_icon:hover {
    color: #4CAEF5;
}

.search_img {
    width: 20px;
    height: auto;
    margin: 10px 15px 0 10px;
}

.search_box {
    margin: 5px 0 0 0;
    background-color:rgb(216, 216, 216);
    border-radius: 50px;
    width: 280px;
    height: 40px;
}

.search_box:focus{
    background-color: white;
}

.keyword_serach {
    background-color:rgb(216, 216, 216);
    border: none;
    font-size: 20px;
    width: 200px;
}

.post {
    background-color:  #4CAEF5;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    margin: 10px 0 0 0;
}

.posting {
    color: white;
}