body{
    background-color: #e7f3f8;
    margin: 0;
    padding: 0;
}

.login_box {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(196, 194, 194);
    padding: 1% 0 0 10%;
}

.login_small_box {
    background-color: #ffffff;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(196, 194, 194);
    padding: 1% 0 0 10%;
    padding-top: 3em;
}

.username_container {
    position: relative;
}
.head-bar {
    height: 40px;
    width: 100%;
    margin: 0 0 10px 0;
    background-color:rgba(255, 255, 255, 1);
    border-style: solid;
    border-color: rgb(196, 194, 194)
}

.hidden_head-bar {
    background-color: transparent;
    width: 800px;
    margin: 0 auto;
}

.logo {
    width: 30px;
    height: auto;
    margin: 7px 0 0 3%;
}

.language {
    float: right;
    margin: 10px 15% 0 0;
    font-size: 12px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px; 
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px; 
}

.username:placeholder-shown {
    background-color: rgb(232, 240, 254);
}

.username {
    background-color: white;
    border-radius: 3px;
    line-height: 20px;
    font-size: 14px;
    padding: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    width:270px;
    margin-bottom: 4px;
    border: 2px solid#e6ecf0;
}

.password:not(:placeholder-shown) {
    background-color: white;
}

.password {
    background-color: rgb(232, 240, 254);
    border-radius: 3px;
    line-height: 20px;
    font-size: 14px;
    padding: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    width:270px;
    margin-bottom: 4px;
    border: 2px solid#e6ecf0;
}

button {
    color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: #1da1f2;
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    margin: 15px 0 5px 0; 
}

.logo-image{
    width: 60px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -1px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  