<h3 for="direct-message">Direct Message</h3>
<form class="form_background_color box_out">
    <ul class="list-group" *ngIf="loadedPosts.length >= 1">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
            <label for="content">Post {{post.num_post}}</label>
            <h5>from {{post.sender}}</h5>
            <h4>{{post.title}}</h4>
            <p>{{post.content}}</p>
            <button type="submit" class="btn btn-default">Subscribe</button>
        </li>
    </ul>
</form>
<form class="form_background_color box_out">
    <div class="form-group">
        <label for="send-to">send to:</label>
        <input type="text" placeholder="Receiver name" [(ngModel)]="receiver" required [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="title">Title :</label>
        <input type="text" placeholder="Enter your title" [(ngModel)]="title" required [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="content">Content :</label>
        <input type="text" placeholder="Enter your content" [(ngModel)]="content" required [ngModelOptions]="{standalone: true}">
    </div>
    <p class = "tpbutton btn-toolbar text-center">
        <a class="btn navbar-btn btn-primary" (click)="onCreatePost()">Create Post!</a>
        <a class="btn navbar-btn btn-danger" (click)="onClearPosts()">Clear Post!</a>
    </p>
</form>