* {box-sizing: border-box}
body {
    background-color: #ddd;
    border: none;
}

input[type=text], input[type=password] {
    font-size: 13px;
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-width: 0 0 10px;
    outline: 0;
    border-bottom: 2px solid #4caef5;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-color: darkblue;
}

hr {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

button:hover {
  opacity: 2;
}

/* button css for different pages */
.signupbtn {
  float: left;
  background-color: #4caef5;
  color: white;
  padding: 13px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 30px;
}

.logupbtn {
  float: left;
  width: 50%;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 575px;
  border-radius: 25px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border: none;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Small screen functionality */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

#month {
  /* margin-left: 10px; */
  margin-top: 10px;
  width: 250px;
}

#day {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
  width: 115px;
}

#year {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;

  width: 141px;
}

#day:active, #month:active, #year:active {
  /* box-sizing: border-box; */
  /* margin-top: 25px; */
  /* position: relative; */
}

#dayDropdown, #yearDropdown {
  height: 505px;
  /* width: 30px; */
  overflow: auto;
}

#dayDropdown, #yearDropdown, #monthDropdown {
  float: right;
}

#dayDropdown:active, #yearDropdown:active, #monthDropdown:active {
  position: relative;
  display: inline-block;
}

.logo {
    width: 10%;
    height: auto;
    margin: 0 0 0 45%;
    padding-top: 1px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#termsConditions {
    margin-top: 15px;
}

input:invalid {
  border: 1px solid red;
}

input:invalid:hover {
  border: 1px solid red;
}