.form_background_color {
    background-color: white;
}

.box_out {
    margin: 20px 20px 20px 20px;
}


*{
    margin:0;
    padding:0;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow : 0 5px 10px #efefef;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}

.createPost-title
{
    text-align: Left;
}
.createPost-topic
{
    font-size: 30px;
    text-align: left;
    margin: 5px;
}
.createPost-content
{
    font-size: 30px;
    text-align: left;
    margin: 5px;
}
a.btn
{
    margin:30px 10px;
    width:150px;
    padding: 10px;
    border-radius:20px;
    align-content: left;
}

.button
{
    background: #fff;
    border: 1px solid lightblue;
    color: darkblue;
}

a.button:hover
{
    background: lightblue;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.Post-style
{
    box-shadow: 0 5px 10px #efefef;
    
}
.post-topic
{
    font-size: 52px;
    text-align: center;
}

.post-content
{
    font-size: 30px;
    text-align: center;
}
.like
{
    height: 25px;
    margin:0;
    padding:0;
}
.likes-font
{
    font-size: 15px;
}